<header class="flex justify-between items-center bg-black text-white p-4">
    <a href="{{ path('app_main') }}" class="text-4xl">Chaussures</a>
    <nav>
        <ul class="flex gap-4 text-xl items-center">
            <li><a href="{{ path('app_main', {category : 'woman'}) }}">Femme</a></li>
            <li><a href="{{ path('app_main', {category: 'men'}) }}">Homme</a></li>
            <li><a href="{{ path('app_main', {category: 'children'}) }}">Enfants</a></li>
            <li><a href="">{{ ux_icon('ph:shopping-bag-open-light', {class: 'w-10 h-10'}) }}</a></li>
        </ul>
    </nav>
</header>