{% extends 'base.html.twig' %}

{% block title %}Chaussures{% endblock %}

{% block body %}
    <main>
        <div class="xl:w-[1264px] mx-auto my-7">
            {% if category %}
                <h1 class="text-3xl font-bold text-center mb-4">Chaussures pour {{ category.getLabel() }}</h1>
            {% endif %}
            <section class="flex flex-wrap">
            {% for shoe in shoes %}
                <article class="rounded-xl overflow-hidden bg-white shadow-md m-2">
                    <a href="{{ path('app_shoes', {id: shoe.id}) }}">
                        <figure class="w-[300px]">
                            <img class="h-[250px] w-full object-cover" src="{{ asset(shoe.imageUrl) }}" alt="{{ shoe.title }}">
                            <figcaption class="p-4">
                                <div>
                                    <p class="text-center">{{ shoe.title }}</p>
                                    <p class="text-right font-bold text-lg mt-2">{{ shoe.price }} €</p>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </article>
                <p></p>
            {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}
