{% extends 'base.html.twig' %}

{% block title %}{{ shoe.title }}{% endblock %}

{% block body %}
<main class="p-7">
    <section class="max-w-[1280px] bg-white m-auto rounded-xl overflow-hidden">
        <div class="flex">
        <img class="w-[500px] h-[600px] object-cover" src="{{ asset(shoe.imageUrl) }}" alt="{{ shoe.title }}">
            <div class="flex flex-col p-5">
                <h1 class="text-center font-bold m-10 text-4xl">{{ shoe.title }}</h1>
                <p class="m-10 flex-1">{{ shoe.description }}</p>
                {{ form_start(form) }}
                {{ form_widget(form.waist) }}

                <p class="m-7 text-right text-4xl font-bold">{{ shoe.price }} €</p>
                <div class="flex flex-col items-end">
                    {{ form_widget(form.add_to_cart, {'attr': {'class' : 'btn',}}) }}
                    {{ form_errors(form.waist) }}
                    {{ form_widget(form.reserve_in_store, {'attr': {'class': 'btn'}}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </section>
</main>
{% endblock %}
